@font-face {
  font-family: 'VCR OSD Mono';
  src: local('VCR OSD Mono Rus'), url("fonts/VCROSDMono.woff2") format('woff2'), url("fonts/VCROSDMono.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.vhs {
  position: relative;
  z-index: 99;
  width: 1060px;
  max-width: 100%;
  font-family: 'VCR OSD Mono', monospace;
  font-size: 16px;
  line-height: normal;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
.vhs *,
.vhs *:before,
.vhs *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vhs svg {
  display: block;
  fill: currentColor;
  pointer-events: none;
}
.vhs b {
  font-weight: 700;
}
.vhs button {
  font-family: inherit;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.vhs__bg {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0b134f;
  background-image: url("https://leonardo.osnova.io/c8a4e9c0-a0bc-24f5-6367-1e98b8a0b2e5/");
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1440px) {
  .vhs__bg {
    background-size: 100% auto;
  }
}
.vhs.is-feed .vhs__bg {
  position: absolute;
}
.vhs__inner {
  position: relative;
  z-index: 2;
  padding: 0 15px;
}
@media (min-width: 680px) {
  .vhs__inner {
    padding-top: 45px;
  }
}
.vhs-enter {
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
}
.vhs-enter__logo {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.vhs-enter__text {
  width: 840px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  color: #fff;
  font-size: 18px;
  line-height: 1.2em;
  text-align: center;
}
@media (min-width: 680px) {
  .vhs-enter__text {
    font-size: 21px;
    line-height: 1.4em;
  }
}
.vhs-enter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 175px;
  height: 60px;
  padding: 0;
  margin: 40px auto 0;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  border: 3px solid #1f6bcc;
  background-color: transparent;
  -webkit-box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
          box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.vhs-enter__btn:hover {
  -webkit-box-shadow: 0 0 24px 8px rgba(31,107,204,0.5), 0 0 30px 8px rgba(31,107,204,0.5) inset;
          box-shadow: 0 0 24px 8px rgba(31,107,204,0.5), 0 0 30px 8px rgba(31,107,204,0.5) inset;
}
@media (hover: none), (hover: on-demand) {
  .vhs-enter__btn:hover {
    -webkit-box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
            box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
  }
}
.vhs-enter__btn > svg {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
@media (min-width: 680px) {
  .vhs-enter__btn {
    width: 250px;
    height: 84px;
    margin-top: 65px;
    font-size: 30px;
  }
  .vhs-enter__btn > svg {
    width: 27px;
    height: 27px;
    margin-left: 10px;
  }
}
.vhs-test {
  position: relative;
  width: 345px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 568px) {
  .vhs-test {
    width: 640px;
  }
}
.vhs-test__inner {
  position: relative;
  z-index: 1;
}
.vhs-test__logo {
  display: block;
  width: 220px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .vhs-test__logo {
    width: 350px;
  }
}
@media (min-width: 680px) {
  .vhs-test__logo {
    position: absolute;
    top: -60px;
    left: -8px;
    right: 0;
  }
}
.vhs-test__frame {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
@media (max-width: 679px) {
  .vhs-test__frame {
    display: none;
  }
}
.vhs.is-answered .vhs-test__frame {
  display: none;
}
.vhs-q {
  position: relative;
  padding: 40px 10px 20px;
}
@media (max-width: 679px) {
  .vhs-q {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 400px;
    border: 3px solid #1f6bcc;
    -webkit-box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
            box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
  }
}
@media (min-width: 680px) {
  .vhs-q {
    min-height: 480px;
    padding-top: 110px;
  }
}
.vhs-q__title {
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 568px) {
  .vhs-q__title {
    font-size: 24px;
  }
}
@media (min-width: 680px) {
  .vhs-q__title {
    font-size: 28px;
  }
}
.vhs-q__text {
  width: 564px;
  max-width: 100%;
  margin: 18px auto 20px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
@media (min-width: 568px) {
  .vhs-q__text {
    font-size: 24px;
    line-height: 1.2em;
  }
}
@media (min-width: 680px) {
  .vhs-q__text {
    font-size: 26px;
    margin-top: 50px;
  }
}
.vhs-q__options {
  width: 230px;
  max-width: 100%;
  margin: auto auto 0;
}
@media (min-width: 680px) {
  .vhs-q__options {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 560px;
    margin: 0 auto;
    padding: 0 36px 40px;
  }
}
.vhs-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}
@media (min-width: 680px) {
  .vhs-options {
    margin: -25px 0 0 -25px;
  }
}
.vhs-options__item {
  width: 100%;
  padding: 10px 0 0 10px;
}
@media (min-width: 680px) {
  .vhs-options__item {
    width: 50%;
    padding: 25px 0 0 25px;
  }
}
.vhs-option {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.vhs-option:hover {
  -webkit-transform: translate3d(0, 0, 0) scale(1.1);
          transform: translate3d(0, 0, 0) scale(1.1);
}
@media (hover: none), (hover: on-demand) {
  .vhs-option:hover {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
  }
}
.vhs-option::before {
  content: '';
  display: block;
  padding-top: 13.5%;
}
.vhs-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  padding: 0 10px;
}
@media (max-width: 679px) {
  .vhs-a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("https://leonardo.osnova.io/9ccf426b-528a-d151-693c-067bdcb9b81b/") !important;
    background-size: cover;
  }
  .vhs-a.is-correct {
    border: 3px solid #1b9d3e;
    -webkit-box-shadow: 0 0 18px 5px rgba(16,143,49,0.5), 0 0 24px 5px rgba(16,143,49,0.5) inset;
            box-shadow: 0 0 18px 5px rgba(16,143,49,0.5), 0 0 24px 5px rgba(16,143,49,0.5) inset;
  }
  .vhs-a.is-incorrect {
    border: 3px solid #b91a2d;
    -webkit-box-shadow: 0 0 18px 5px rgba(185,26,45,0.5), 0 0 24px 5px rgba(185,26,45,0.5) inset;
            box-shadow: 0 0 18px 5px rgba(185,26,45,0.5), 0 0 24px 5px rgba(185,26,45,0.5) inset;
  }
}
@media (min-width: 680px) {
  .vhs-a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 480px;
    padding: 0 40px 0 65px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% auto;
  }
}
.vhs-a__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 140px;
}
@media (max-width: 679px) {
  .vhs-a__img {
    margin: 0 auto;
  }
}
@media (min-width: 680px) {
  .vhs-a__img {
    width: auto;
    margin-right: 50px;
  }
}
.vhs-a__text {
  color: #fff;
  font-size: 18px;
}
@media (max-width: 679px) {
  .vhs-a__text {
    margin-top: 20px;
    text-align: center;
  }
}
@media (min-width: 680px) {
  .vhs-a__text {
    font-size: 26px;
  }
}
.vhs-a__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 114px;
  height: 30px;
  margin: 20px auto 0;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  border: 1px solid #7e7e7e;
  background-color: transparent;
}
.vhs-a__btn > svg {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}
@media (min-width: 680px) {
  .vhs-a__btn {
    width: 150px;
    height: 40px;
    font-size: 16px;
    margin: 60px 0 0;
  }
}
.vhs-a__btn:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .vhs-a__btn:hover {
    opacity: 1;
  }
}
.vhs-result {
  position: relative;
  z-index: 1;
}
.vhs-result__img {
  display: block;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
@media (max-width: 567px) {
  .vhs-result__img {
    display: none !important;
  }
}
.vhs-result__img-m {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 568px) {
  .vhs-result__img-m {
    display: none !important;
  }
}
.vhs-result__inner {
  position: relative;
  z-index: 1;
  width: 640px;
  max-width: 100%;
  min-height: 400px;
  margin: 0 auto;
  padding: 30px 15px 0;
}
@media (max-width: 567px) {
  .vhs-result__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 679px) {
  .vhs-result__inner {
    border: 3px solid #1f6bcc;
    -webkit-box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
            box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
  }
}
@media (min-width: 568px) {
  .vhs-result__inner {
    padding-left: 45px;
  }
}
@media (min-width: 680px) {
  .vhs-result__inner {
    min-height: 480px;
    padding: 80px 0 0 45px;
  }
}
.vhs-result__title {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
@media (min-width: 568px) {
  .vhs-result__title {
    font-size: 40px;
  }
}
.vhs-result__result {
  margin-top: 15px;
  color: #fff;
  font-size: 18px;
}
@media (min-width: 568px) {
  .vhs-result__result {
    margin-top: 30px;
    font-size: 20px;
  }
}
.vhs-result__description {
  width: 345px;
  max-width: 100%;
  margin-top: 10px;
  color: #fff;
  font-size: 18px;
}
@media (min-width: 568px) {
  .vhs-result__description {
    margin-top: 22px;
    font-size: 22px;
    line-height: 1.2em;
  }
}
@media (max-width: 679px) {
  .vhs-result__bottom {
    margin-top: auto;
    margin-bottom: 20px;
  }
}
@media (min-width: 568px) {
  .vhs-result__bottom {
    margin-top: 36px;
  }
}
.vhs-result__share {
  min-height: 46px;
}
.vhs-result__restart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 568px) {
  .vhs-result__restart {
    margin-top: 40px;
    font-size: 20px;
  }
}
.vhs-result__restart > svg {
  width: 16px;
  height: 14px;
  margin-left: 8px;
}
@media (min-width: 568px) {
  .vhs-result__restart > svg {
    width: 20px;
    height: 18px;
    margin-left: 10px;
  }
}
.vhs-result__restart:hover {
  opacity: 0.6;
}
@media (hover: none), (hover: on-demand) {
  .vhs-result__restart:hover {
    opacity: 1;
  }
}
.vhs .likely--custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vhs .likely__widget {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 46px;
  height: 46px;
  color: #fff;
  border: 2px solid #1f6bcc;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.vhs .likely__widget:hover {
  -webkit-box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
          box-shadow: 0 0 18px 5px rgba(31,107,204,0.5), 0 0 24px 5px rgba(31,107,204,0.5) inset;
}
@media (hover: none), (hover: on-demand) {
  .vhs .likely__widget:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.vhs .likely__widget:not(:last-child) {
  margin-right: 10px;
}
@media (min-width: 375px) {
  .vhs .likely__widget--facebook {
    padding: 0 20px 0 8px;
  }
}
.vhs .likely__counter {
  display: none;
}
.vhs .likely__icon {
  background-color: transparent;
}
.vhs .likely__icon svg {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.vhs .likely__icon--vkontakte svg {
  width: 28px;
  height: 28px;
}
@media (min-width: 680px) {
  .vhs .likely__icon--facebook {
    margin-right: 6px;
  }
}
.vhs .likely__button {
  display: none;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 375px) {
  .vhs .likely__button {
    display: block;
  }
}
/*# sourceMappingURL=src/css/special.css.map */

/*# sourceMappingURL=all.css.map*/